.container {
    display: flex;
    flex-direction: column;
    width: 336px; /* 16 squares * 20px + 15 gaps * 1px */
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 0 1px 1px 0;
}

.square:hover{
    background-color: red;
}